$black: #000;
$white: #fff;
$gray: #dddddd78;
$gray_text: #9b9b9b;
$red: #bb0303;


$first_neue: "TTFirsNeue";
$montserrat: "Montserrat";

.d_flex{
  display: flex
}

.d_none{
  display: none;
  color: lighten($black, 0.9)
}

main {
  padding-top: 70px;
}

section:not(:first-child){
  padding: 50px 0;
}

.half_column{
  width: 50%;
}

body{
  font-family: $montserrat;
}

p{
  padding: 5px 0;
}

h2,h3{
  padding: 10px 0;
}

a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:active{
    background-color: transparent; 
  } 
}