@font-face {
  font-family:'Montserrat';
  src: url('../fonts/MontserratLight.eot');
  src: url('../fonts/MontserratLight.eot?#iefix') format('embedded-opentype'), url('../fonts/MontserratLight.woff2') format('woff2'), url('../fonts/MontserratLight.woff') format('woff'), url('../fonts/MontserratLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family:'Montserrat';
  src: url('../fonts/MontserratRegular.eot');
  src: url('../fonts/MontserratRegular.eot?#iefix') format('embedded-opentype'),url('../fonts/MontserratRegular.woff2') format('woff2'),url('../fonts/MontserratRegular.woff') format('woff'),url('../fonts/MontserratRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family:'Montserrat';
  src: url('../fonts/MontserratMedium.eot');
  src: url('../fonts/MontserratMedium.eot?#iefix') format('embedded-opentype'),url('../fonts/MontserratMedium.woff2') format('woff2'),url('../fonts/MontserratMedium.woff') format('woff'),url('../fonts/MontserratMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family:'Montserrat';
  src: url('../fonts/MontserratSemiBold.eot');
  src: url('../fonts/MontserratSemiBold.eot?#iefix') format('embedded-opentype'),url('../fonts/MontserratSemiBold.woff2') format('woff2'),url('../fonts/MontserratSemiBold.woff') format('woff'),url('../fonts/MontserratSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family:'TTFirsNeue';
  src: url('../fonts/TTFirsNeueThin.eot');
  src: url('../fonts/TTFirsNeueThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeueThin.woff2') format('woff2'),
  url('../fonts/TTFirsNeueThin.woff') format('woff'),
  url('../fonts/TTFirsNeueThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'TTFirsNeue';
  src: url('../fonts/TTFirsNeueExtraLight.eot');
  src: url('../fonts/TTFirsNeueExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeueExtraLight.woff2') format('woff2'),
  url('../fonts/TTFirsNeueExtraLight.woff') format('woff'),
  url('../fonts/TTFirsNeueExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'TTFirsNeue';
  src: url('../fonts/TTFirsNeueLight.eot');
  src: url('../fonts/TTFirsNeueLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeueLight.woff2') format('woff2'),
  url('../fonts/TTFirsNeueLight.woff') format('woff'),
  url('../fonts/TTFirsNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'TTFirsNeue';
  src: url('../fonts/TTFirsNeueRegular.eot');
  src: url('../fonts/TTFirsNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeueRegular.woff2') format('woff2'),
  url('../fonts/TTFirsNeueRegular.woff') format('woff'),
  url('../fonts/TTFirsNeueRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}






