@import "fonts";
@import "reset";
@import "all";
@import "mixins";


.container{
  width: 90vw;
  max-width: 1138px;
  margin: 0 auto;
  min-height: 10px
}

.header_container{
  position: fixed;
  z-index: 5;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 5px 20px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $white;
  box-shadow: 0px 1px 5px $gray;
}

.logo_img {
  z-index: 2;
  img {
    height: 60px;
    width: auto
  }
}

.header_phone{
  z-index:2
}

.header_phone-link {
    font-family: $first_neue;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: $black;

    &:hover{
      color:$red;
    }
}


.header_menu{
  z-index: 2;
  .menu_list{
    display: flex;
    gap: 10px
  }   
  a.menu_link{
    font-family: $montserrat;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: $black;

    &:hover{
      color:$red;
    }
  }
  
}

.header__burger{
  display: none;
}

// MAIN BLOCK
.main_frame{
  position: relative;
  height: calc(100vh - 70px);  

  .icons_bg{ 
    
    .left_side{
      img:nth-child(1){
        top: 10%;
        left: 82px;
      }      
      img:nth-child(2){
        top: 20%;
        left: 229px;
      }
      img:nth-child(3){
        top: 30%;
        left: 123px;
      }
      img:nth-child(4){
        top: 40%;
        left: 360px;
      }
      img:nth-child(5){
        top: 50%;
        left: 305px;
      }
      img:nth-child(6){
        top: 60%;
        left: 136px;
      }
      img:nth-child(7){
        top: 70%;
        left: 214px;
      }   
    }

    .right_side{
      img:nth-child(1){
        top: 25%;
        right: 271px;
      }      
      img:nth-child(2){
        top: 35%;
        right: 145px;
      }
      img:nth-child(3){
        top: 45%;
        right: 398px;
      }
      img:nth-child(4){
        top: 55%;
        right: 183px;
      }
      img:nth-child(5){
        top: 65%;
        right: 54px;
      }
      img:nth-child(6){
        top: 80%;
        right: 267px;
      }
      img:nth-child(7){
        top: 85%;
        right: 135px;
      }
    }

    img{
      width: 40px;
      position: absolute;
    }
  }

  .icons_bg_layout{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }

  .main_container{
    height: 100%;
    max-width: 100%;
    width:100%;
    position: absolute;
    top: 0;
    display: flex;

    .container{
      display: flex;
      align-items: center;
      flex-direction: row;
      gap:20px;
    }
  }

  .main_slider{
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px $black;

    .slick-slide{

      &>div,
      img {
        height: 400px;
      }

      img{
        object-fit: cover;
      }
    }
  }

  .vertical_form{

    .wpcf7{

      input, textarea{
      width: 100%;
      margin-bottom: 10px;
      height: 40px;
      padding: 5px;
      border: 1px solid $gray;
      border-radius: 0;

        &::placeholder{
          font-family: $montserrat;
          text-transform: uppercase;
          font-size:12px;
          color: $gray_text;
        }
      }
      
      textarea{
        padding-top: 11px;
        padding-bottom: 0;
      }

      .wpcf7-submit{
        border: 0;
        background-color: $black;
        font-family: $first_neue;
        color: $white;
        text-transform: uppercase;

        &:hover{
          border: 1px solid $red;
          background-color: $red;
          color: $white;
        }
      }

      .wpcf7-not-valid-tip {
        margin-top: -10px;
        font-size: 12px;
        text-transform: lowercase;
        font-family: $montserrat;
        font-weight: 300;
      }

      .wpcf7-spinner{
        display: none;
      }

      .wpcf7-response-output{
        font-family: $montserrat;
        font-size: 14px;
        margin: 0;
        padding: 10px;
      }
    }
  }
  
  h1{
    font-family: $first_neue;
    font-size: 24px;
  }

  .main_description{
    padding: 5px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    border: 1px solid $gray;
  }


}

.horizontal_form{

  .wpcf7{

    p{      
      display: flex;
      gap: 5px;   
      
      br{
        display: none;
      }
    }
    input, textarea{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    border: 1px solid $gray;
    border-radius: 0;

      &::placeholder{
        font-family: $montserrat;
        text-transform: uppercase;
        font-size:12px;
        color: $gray_text;
      }
    }
    
    textarea{
      padding-top: 11px;
      padding-bottom: 0;
    }

    .wpcf7-submit{
      border: 0;
      background-color: $black;
      font-family: $first_neue;
      color: $white;
      text-transform: uppercase;

      &:hover{
        border: 1px solid $red;
        background-color: $red;
        color: $white;
      }
    }

    .wpcf7-not-valid-tip {
      margin-top: -10px;
      font-size: 12px;
      text-transform: lowercase;
      font-family: $montserrat;
      font-weight: 300;
    }

    .wpcf7-spinner{
      display: none;
    }

    .wpcf7-response-output{
      font-family: $montserrat;
      font-size: 14px;
      margin: 0;
      padding: 10px;
    }
  }
}

.portfolio_slider{

  .slick-track {
    display: flex;
    gap: 10px;
  }

  img{
    height: 150px;
    width: 150px!important;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px -5px #000;
  }  
}

.section_tabs {
  display: flex;
  flex-direction: column;

  .tabs_head {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    order: 0;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;

    .tabs_caption {
      display: inline-block;
      text-decoration: none;
      padding: 6px 10px;
      text-align: center;  
      color: $black; 
      border: 1px solid $gray;
      border-radius: 5px;
      box-shadow: 0px 0px 8px -5px #000;

      &:hover{
        color: $red;
        border-color: $red;
        cursor: pointer;
      }
      &:active{
        
      }      
    }
    .tabs_caption_active {
      color: $red;
      border-color: $red;
    }
  }

  .tabs_body{

    .tabs_content{
      display: none;
    }
    .tabs_content_active {
      display: block;
    }
  }
}

.faq {
  border:1px solid $gray;
  border-radius: 5px;
  
  &:hover{
    border-color: $red;
  }

  &.active{
    border-color: $red;

    .faq_title{

      &::after {
        content: "\2212";
        color: $red;
        
      }
    }
  }

  .faq_title { 
    border: none;
    font: inherit;
    background-color: transparent;   
    font-weight: 500;
    color: $black;
    cursor: pointer;
    padding: 18px;
    width: 100%;    
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after{      
      content: '\002B';
      color: $black;      
      float: right;
      margin-left: 5px;
      font-size: 30px;
      line-height: 30px;
    }
  } 

  .faq_body {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.testimonials_slider{

  .slick-track{
    display: flex;
    gap: 10px;

    .slick-slide{
      height: inherit!important;

      &>div{
        height: 100%;
      }
    } 
  }
}

.testimonial{
  padding: 10px;
  border: 1px solid $gray;
  border-radius: 3px;
  height: 100%;

  .testimonial_header {
    display: flex;
    gap: 10px;

    .testimonial_author_img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center top;
      height: 100%;
    }

    .testimonial_author_name{
      display: flex;
      gap:5px;
      align-items: center;
      font-weight: 600;
      font-family: $first_neue;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  .testimonial_text {
    padding: 10px 10px 0px 10px;
  }

  .testimonial_organization,.testimonial_rating{
    display: none;
  }
}


.page_header {
  padding: 20px 0;

  .breadcrumbs__link{
    color: $black;
    text-decoration: underline;

    &:hover{
      color: $red;
      text-decoration: none;
    }
  }
}

.page_content_wrapper{
  display: flex;
  gap: 20px;

  .page_content{
    width:70%;
  }

  .page_content_sidebar{
    width: 30%;

    .sidebar_text{
      .sidebar_title{        
          font-weight: 600;
          font-size: 20px;
          text-align: end;      
      }
      .sidebar_subtitle{
        text-align: end;
        font-size: 14px;
        color: $gray_text;
      }
    }

    .wpcf7{

      input, textarea{
      width: 100%;
      margin-bottom: 10px;
      height: 40px;
      padding: 5px;
      border: 1px solid $gray;
      border-radius: 0;
  
        &::placeholder{
          font-family: $montserrat;
          text-transform: uppercase;
          font-size:12px;
          color: $gray_text;
        }
      }
      
      textarea{
        padding-top: 11px;
        padding-bottom: 0;
      }
  
      .wpcf7-submit{
        border: 0;
        background-color: $black;
        font-family: $first_neue;
        color: $white;
        text-transform: uppercase;
  
        &:hover{
          border: 1px solid $red;
          background-color: $red;
          color: $white;
        }
      }
  
      .wpcf7-not-valid-tip {
        margin-top: -10px;
        font-size: 12px;
        text-transform: lowercase;
        font-family: $montserrat;
        font-weight: 300;
      }
  
      .wpcf7-spinner{
        display: none;
      }
  
      .wpcf7-response-output{
        font-family: $montserrat;
        font-size: 14px;
        margin: 0;
        padding: 10px;
      }
    }

    .sidebar_contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .sidebar_phone{
        color: $black;
        text-decoration: underline;

        &:hover{
          color: $red;
          text-decoration: none;
        }
      }

      .sidebar_socials{
        display: flex;
        gap: 10px;
  
        i{
          color: $red;
          font-size: 20px;

          &:hover{
            font-size: 22px;
          }
        }
        
      }
    }    
  }
}

.posts_grid{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap:10px;

  .post_item{
    border:1px solid $gray;
    border-radius: 5px;
    color: $black;
    display: flex;
    flex-direction: column;
    word-break: break-word;

    &:hover{
      border-color: $red;
      box-shadow: 0px 0px 8px -5px $black;
    }

    .post_item_top{

      .post_img{
        height: 150px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
      }
      .post_title{
        font-family: $first_neue;
        font-size: 20px;
        font-weight: 500;
        padding: 5px;
      }      
    }
    .post_desc{
      padding: 0 5px;
      font-size: 14px;
    }
  }
}

footer{
  border-top: 1px solid $gray;
  padding: 20px 0;  

  .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer_menu{
      display: flex; 
      justify-content: center;     

      .footer_menu_list{
        display: flex;
        gap: 10px;        

        a{
          color: $black;
          text-transform: uppercase;

          &:hover{
            color:$red;
          }
        }
        
      }
    }

    .footer_contacts {
      display: flex;      
      gap: 10px;
      flex-direction: column;
      align-items: flex-end;

      .footer_contacts_top{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a{
          color: $black;
          font-size: 12px;
        }
      }

      .footer_contacts_bottom{
        display: flex;
        gap: 10px;

        i{
          color: $red;
          font-size: 20px;
        }
        
      }
    }
  }
}

@import "adaptive";